
/* I1mages */
img {
    width: 200px;
}

/*a Body */
body {
 background-image:url("https://cdn.discordapp.com/attachments/968435246833991681/996855740146925730/bg.gif");  
  text-align: center;
  padding: 2em;
}

/* Text */
h1 {
  color: #ffffff;
     font-family: Optima;          
}

h2 {   
  color: #ffffff;
  font-family: Optima;          
}        

p {     
  color: #940a0a;
font-family: Optima;    
}

.myDiv {
  text-align: center;
}
