

/* Images */
img {
    width: 200px;
}

/* Body */
body {
    text-align: center;
    padding: 2em;
    background-image: url(https://cdn.discordapp.com/attachments/968435246833991681/996855740146925730/bg.gif)
}

/* Text */
h1 {
  color: #00fffb;
     font-family: Optima;          
}

h2 {   
  color: #00fbff;
  font-family: Optima;          
}        

p {     
  color: #ffffff;
font-family: Optima;    
}

.myDiv {
  text-align: center;
}